@model MVCATM.Models.Transaction

@{
    ViewBag.Title = "Withdraw";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Withdraw</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">AccountNumber</label>
        <div class="col-md-10">
            <input type="text" class="form-control" readonly value="@Model.checkingAccount.AccountNumber" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Current Balance</label>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.checkingAccount.Balance, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.HiddenFor(model => Model.CheckingAccountId)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="WithDraw" class="btn btn-default" />
        </div>
    </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
