@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6 margin-top-20">
        <a href="@Url.Action("Withdraw","Transaction",new {checkingAccountId= ViewBag.CheckingAccountId })" class="btn btn-primary btn-large btn-block"><i class="fas fa-arrow-alt-circle-down"></i> Withdrawal</a>
        <a href="#" class="btn btn-primary btn-large btn-block"><i class="fas fa-bolt"></i> Quick Cash $100</a>
        <a href="@Url.Action("Details","CheckingAccount")" class="btn btn-primary btn-large btn-block"><i class="fas fa-question-circle"></i> Balance Inquiry</a>
    </div>
    <div class="col-md-6 margin-top-20">
        <a href="@Url.Action("Statement","CheckingAccount",new {checkingAccountId= ViewBag.CheckingAccountId})" class="btn btn-primary btn-large btn-block"><i class="fas fa-print"></i> Print Statement</a>
        <a href="#" class="btn btn-primary btn-large btn-block"><i class="fas fa-exchange-alt"></i> Transfer Funds</a>
        <a href="@Url.Action("Deposit","Transaction",new {checkingAccountId= ViewBag.CheckingAccountId })" class="btn btn-primary btn-large btn-block"><i class="fas fa-arrow-circle-up"></i> Deposit</a>
    </div>
    
</div>
<div class="row">
    <div class="col-md-12 margin-top-20">
        <p>Your Pin:@ViewBag.Pin</p>
        <br />
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            <a href="@Url.Action("List","CheckingAccount")" class="btn btn-info btn-large btn-block"><i class="fas fa-print"></i> List Accounts</a>
        }
    </div>
</div>